
  <section class="main">
    <div class="main-content">
      <img id="profile-example" alt="Profile Example" src="assets/img/profile-example.png" />
      <div class="container">
        <h3>FITNESS TRAINER</h3>
        <h1>JAMES ZACKA</h1>

        <p>
          I'm James Zacka, and I'm a personal fitness trainer.  I've been helping clients reach their physical peak
          and attractiveness for several years, and got amazing results.  If you're looking for someone to give you the
          motivation you need, then I'm your man.
        </p>

        <h3>"LET'S GET BUFF"</h3>

        <a href="#" id="book-session-btn" class="site-btn">BOOK SESSION</a>
      </div>
    </div>
  </section>
  <section id="sessions-link" class="sessions">
    <h3>WHAT YOU'LL LEARN FROM ME</h3>
    <div class="activities">
      <div class="actvity">
        <a href="#">
          <img alt="nutrition" src="assets/img/nutrition.jpg" style="width:inherit;" />
        </a>
        <div class="container">
          <h3>NUTRITION</h3>
          <p>
            Through my diet plan, you will see great results in your physical apperance and health.
          </p>
        </div>
      </div>

      <div class="actvity">
        <a href="#">
          <img alt="workouts" src="assets/img/workouts.jpg" style="width:inherit;" />
        </a>
        <div class="container">
          <h3>WORKOUTS</h3>
          <p>
            I will show you the excercises that will target all of your muscle groups,
            and optimize your strength.
          </p>
        </div>
      </div>
    </div>

  </section>
