<header>
  <!--This is the previous nav tag with original classes.  Removed bg-white, border-bottom, box-shadow, and mb-3, to match desired design.-->
  <!--<nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >-->
    <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light"
  >
    <div class="container">
      <!--<a class="navbar-brand" [routerLink]="['/']">Web_Design_1</a>-->
      <img src="assets/img/James-Zacka-Logo.png" />
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li>
            <a href="#" class="nav-item site-btn">HOME</a>
          </li>
          <li>
            <a href="#" class="nav-item site-btn">ABOUT</a>
          </li>
          <li>
            <a href="#" class="nav-item site-btn">CONTACTS</a>
          </li>
          <li>
            <a href="#sessions-link" class="nav-item site-btn">SESSIONS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
